html {
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
header {
    flex-basis: auto;
}
section {
    flex: 1; /* helps it grow */
    position: relative;
    background-color: #333;
}
section canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
section div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}